@{
    ViewBag.Title = "COUCOU";
}

    <!-- WELCOME

    ================================================== -->

    <section class="section section_welcome" data-parallax="scroll" data-image-src="~/Scripts/assets/img/1.jpg">


        <!-- Content -->

        <div class="section_welcome__main">

            <div class="container">

                <div class="row align-items-center">

                    <div class="col">



                        <!-- Heading -->

                        <h2 class="section__preheading section_welcome__preheading text-center text-muted">

                            <span class="text-primary">Resta</span>urant

                        </h2>

                        <h1 class="section__heading section_welcome__heading text-center">

                            Casa Royal's

                        </h1>

                        <p class="section__subheading section_welcome__subheading text-center text-muted">

                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non illo, alias animi iusto neque, sint corrupti? Laudantium, dignissimos id excepturi facilis, facere saepe quasi placeat praesentium ipsa sapiente illo molestiae?

                        </p>


                        <!-- Button -->

                        <div class="text-center">

                            <a href="#section_reservation" class="btn btn-primary text-white">

                                Faire une reservation

                            </a>

                        </div>



                    </div>

                </div> <!-- / .row -->

            </div> <!-- / .container -->

        </div>


        <!-- Footer -->

        <div class="section_welcome__footer">

            <div class="container">

                <div class="row align-items-center">

                    <div class="col-md">



                        <!-- Social links -->

                        <ul class="section_welcome__footer__social text-center text-lg-left">

                            <li>

                                <a href="#">

                                    <i class="fa fa-twitter"></i>

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    <i class="fa fa-facebook"></i>

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    <i class="fa fa-instagram"></i>

                                </a>

                            </li>

                        </ul>


                    </div>

                    <div class="col-md">



                        <!-- Address -->

                        <div class="section_welcome__footer__address text-center text-lg-right">

                            <i class="fa fa-map-marker"></i> 3 Rue Lucien Servanty, 31400 Toulouse

                        </div>


                    </div>

                </div> <!-- / .row -->

            </div> <!-- / .container -->

        </div>


    </section>


    <!-- DISCOVER

    ================================================== -->

    <section class="section section_discover section_no-padding_bottom">

        <div class="container">

            <div class="row">

                <div class="col-md-2 align-self-start">



                    <!-- Description -->

                    <p class="section_discover__description">

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                    </p>



                </div>

                <div class="col-md-4 align-self-start">



                    <!-- Image -->

                    <div class="section_discover__img">

                        <img src="~/Scripts/assets/img/2.jpg" class="img-fluid" alt="...">

                    </div>


                </div>

                <div class="col-md-6 align-self-center">



                    <!-- Content -->

                    <h2><em>Lorem ipsum</em> dolor sit amet</h2>

                    <p>

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem illum quo nostrum quisquam asperiores, blanditiis, consectetur. Possimus facilis velit, voluptatibus!

                    </p>


                </div>

            </div> <!-- / .row -->

        </div> <!-- / .container -->

    </section>


    <!-- DISCOVER

    ================================================== -->

    <section class="section section_discover">

        <div class="container">

            <div class="row">

                <div class="col-md-2 order-md-2 align-self-end">



                    <!-- Description -->

                    <p class="section_discover__description">

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                    </p>



                </div>

                <div class="col-md-4 order-md-3 align-self-start">



                    <!-- Image -->

                    <div class="section_discover__img alt">

                        <img src="~/Scripts/assets/img/7.jpg" class="img-fluid" alt="...">

                    </div>


                </div>

                <div class="col-md-6 order-md-1 align-self-center">



                    <!-- Content -->

                    <h2><em>Velit ipsa</em> quidem debitis amet</h2>

                    <p>

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quae similique asperiores consequatur! Nihil temporibus qui enim, ab voluptates corporis commodi eum maxime. Accusamus voluptates a, et quidem! Quo, et?

                    </p>


                </div>

            </div> <!-- / .row -->

        </div> <!-- / .container -->

    </section>


    <!-- ABOUT

    ================================================== -->

    <section class="section section_about">

        <div class="container">

            <div class="row">

                <div class="col-md-4">



                    <!-- Description -->

                    <p class="section_about__description">

                        Une terasse extérieure, blabla consectetur adipisicing elit. Totam placeat molestiae ab, consectetur.

                    </p>



                </div>

            </div> <!-- / .row -->

        </div> <!-- / .container -->

    </section>






    <!-- RESERVATION

    ================================================== -->

    <section class="section section_reservation section_gray" id="section_reservation">

        <div class="container">

            <div class="row">

                <div class="col">



                    <!-- Heading -->

                    <h2 class="section__heading text-center">

                        Résersation en ligne

                    </h2>


                    <!-- Subheading -->

                    <p class="section__subheading text-center">

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam illo praesentium sequi in cum, beatae maiores quae qui.

                    </p>



                </div>

            </div> <!-- / .row -->

            <div class="row justify-content-lg-center  section_reservation__row">

                <div class="col-lg-8">



                    <!-- Form -->

                    <form class="section_reservation__form" id="reservation__form">

                        <div class="row">

                            <div class="col-md-6">


                                <div class="form-group">

                                    <label class="sr-only" for="reservation__form__name">Nom complet</label>

                                    <input type="text" class="form-control" id="reservation__form__name" name="reservation__form__name" placeholder="Full name">

                                    <div class="invalid-feedback"></div>

                                </div>

                                <div class="form-group">

                                    <label class="sr-only" for="reservation__form__phone">Numéro de téléphone</label>

                                    <input type="tel" class="form-control" id="reservation__form__phone" name="reservation__form__phone" placeholder="Phone number">

                                    <div class="invalid-feedback"></div>

                                </div>

                                <div class="form-group">

                                    <label class="sr-only" for="reservation__form__email">Adresse e-mail</label>

                                    <input type="email" class="form-control" id="reservation__form__email" name="reservation__form__email" placeholder="E-mail address">

                                    <div class="invalid-feedback"></div>

                                </div>


                            </div>

                            <div class="col-md-6">


                                <div class="form-group">

                                    <label class="sr-only" for="reservation__form__people">Personnes</label>

                                    <select class="form-control" id="reservation__form__people" name="reservation__form__people">

                                        <option value="1">1 personne</option>

                                        <option value="2" selected="">2 persons</option>

                                        <option value="3">3 personnes</option>

                                        <option value="4">4 personnes</option>

                                        <option value="5">5 personnes</option>

                                    </select>

                                    <div class="invalid-feedback"></div>

                                </div>

                                <div class="form-group">

                                    <label class="sr-only" for="reservation__form__date">Date</label>

                                    <input type="date" class="form-control" id="reservation__form__date" name="reservation__form__date" value="2016-12-31">

                                    <div class="invalid-feedback"></div>

                                </div>

                                <div class="form-group">

                                    <label class="sr-only" for="reservation__form__time">Time</label>

                                    <input type="time" class="form-control" id="reservation__form__time" name="reservation__form__time" value="18:00">

                                    <div class="invalid-feedback"></div>

                                </div>


                            </div>

                            <div class="col">


                                <div class="text-center">

                                    <button type="submit" class="btn btn-primary">

                                        Reserver une table

                                    </button>

                                </div>


                            </div>

                        </div> <!-- / .row -->

                    </form>


                </div>

            </div> <!-- / .row -->

        </div> <!-- / .container -->

    </section>


    <!--

        MailChimp newsletters generally cannot be used more than

        once on a page, because this will cause HTML IDs conflict.

        This section solves this problem by calling the

        original sign-up form and imitating its behaviour. Please

        don't use it without the original sign-up form. Remove

        d-none to make it visible.

    -->
    <!-- InstaWidget -->

    <section class="section" style="padding-left: 2.5%">

        <!-- InstaWidget -->


        <span style="margin-left: 44.5%; font-size: 28px"><a href="https://www.instagram.com/la_casa_royals/" id="link-771a2f14feb96dc0c2823a3f35779d69859576bad4b9cd195292957dcae19448">la_casa_royals</a></span>

        <br>

        <br>

        <script src="https://instawidget.net/js/instawidget.js?u=830e8e92b326aacc7ab5823380ae529a8f8a377c5636a37bef0d1473162d5a01&width=100%"></script>



    </section>


    <!-- MAP

    ================================================== -->

    <section class="section section_map">

        <div class="section_map__map" data-lat="43.569395" data-lng="1.500001" data-zoom="12" data-info="<h4 class='section_map__map__heading text-center'>Restaurant Casa royal's</h4><p class='section_map__map__content text-center text-muted'>3 rue Lucien Servanty, 31400 Toulouse<br>05 00 00 00</p>"></div>

    </section>


    <!-- FOOTER

    ================================================== -->

    <footer class="section section_footer">

        <div class="container">

            <div class="row">

                <div class="col-sm-4">



                    <!-- About Us -->

                    <h5 class="section_footer__heading">

                        A propos de nous

                    </h5>

                    <p>

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolorum, sint corporis nostrum, possimus unde eos vitae eius quasi saepe.

                    </p>


                </div>

                <div class="col-sm-4">



                    <!-- Contact info -->

                    <h5 class="section_footer__heading">

                        Contact info

                    </h5>

                    <ul class="section_footer__info">

                        <li>

                            <i class="fa fa-map-marker"></i> 3 rue Lucien Servanty, 31400 Toulouse

                        </li>

                        <li>

                            <i class="fa fa-phone"></i> 05 00 00 00 00

                        </li>

                        <li>

                            <i class="fa fa-envelope-o"></i> <a href="mailto:admin@domain.com">admin@domain.com</a>

                        </li>

                    </ul>


                </div>

                <div class="col-sm-4">



                    <!-- Opening hours -->

                    <h5 class="section_footer__heading">

                        Horraires d'ouvertures

                    </h5>

                    <div class="section_footer__open">

                        <div class="section_footer__open__days">Lundi - Vendredi</div>

                        <div class="section_footer__open__time">11:30  - 14:30</div>

                    </div>

                    <div class="section_footer__open">

                        <div class="section_footer__open__days">Jeudi - Vendredi - Samedi</div>

                        <div class="section_footer__open__time">19:00 - 23:00</div>

                    </div>


                </div>

            </div> <!-- / .row -->

            <div class="row">

                <div class="col-12">



                    <!-- Copyright -->

                    <div class="section_footer__copyright">

                        <i class="fa fa-copyright"></i> <span id="js-current-year"></span> Casa Royal's. Tout droit réservés.

                    </div>


                </div>

            </div> <!-- / .row -->

        </div> <!-- / .container -->

    </footer>


    <!-- JAVASCRIPT

    ================================================== -->
    <!-- JS Global -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFr9WDIjPTIigv0tDmI4tPm6KBI0HEw1M"></script>

